<ion-content class="background">
    <ion-card>
        <h1 style="color: white">Reset Password.</h1>
        <p style="color: white">An e-mail will be sent to you with instructions on how to reset your password</p>
        <ion-item color="item.item-trns">
            <ion-label position="floating" style="font-weight: bolder;"> Email:<ion-text color="danger"> *</ion-text>
            </ion-label>
            <ion-input style="color:white;" id="resetEmail" clear-input="true" type="email"></ion-input>
        </ion-item>

        <ion-button id="resetButton" shape="round" color="primary">
            Send New Password
        </ion-button>
        <ion-button routerLink="/login" color="primary" fill="clear"> Login </ion-button>
    </ion-card>
</ion-content>