.messages {
    width: 100%;
    position: absolute;
} 
.message {
    width: 65%;
    padding: 5px 10px;   
    border-radius: 5px;
    margin: 5px;
    float: left
}
.message.me {
    float: right;
    text-align: right
}
ion-item {
    --border-radius: 20px;
}

.background{
    --background: url(src/assets/img/background.jpg) 0 0/100% 100% no-repeat;
}

.ion-col {
    display: grid;
    min-height: 100vh;
    align-items: center;
}

.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}