.ion-col {
    display: grid;
    min-height: 100vh;
    align-items: center;
}

.background{
    --background: url(src/assets/img/background.jpg) 0 0/100% 100% no-repeat;
}

.profilepic {
    height: 500px;
    width: 100%
}


.ion-title {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}

ion-item {
    --background: transparent;
--ion-color-base: transparent !important;
}