<ion-content class="background">
  <ion-list>
    <ion-list-header class="title">
      About
    </ion-list-header>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item><b>Developers</b></ion-item>
          <ion-item> 
              <b>Name: Kevin Harrell</b>
            </ion-item>
            <ion-item> 
                <b>Role: Front-End/Back-End, Design and implement Chat features and authentication</b>
              </ion-item>
      </ion-list>
      <ion-list>
        <ion-item> 
            <b>Name: Grant Grisham</b>
          </ion-item>
          <ion-item> 
              <b>Role: Front-End/Back-End, Design and implement Playbook and Chat features</b>
            </ion-item>
    </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>
