<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Players</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Recent Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="group">
      <ion-icon name="book"></ion-icon>
      <ion-label>PlayBook</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon> 
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
