.background{
    --background: url(src/assets/img/background.jpg) 0 0/100% 100% no-repeat;
}

.title {
    font-size: 20px;
    font-weight: bolder;
}

ion-list-header {
    font-size: 20px;
    font-weight: bolder;
}